.container{
    padding: 24px;
}

.responsive-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.card-formatter-1{
    height: 200px;
    background-color: #404040;
    color: white;
    border: 1px solid blue;
}

.card-formatter-2{
    height: 400px;
    background-color: #404040;
    color: white;
    border: 1px solid blue;
}

.mat-card-content-formatter{
    margin: 0 16px;
}